.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
    line-height: 1.1;
    color: inherit;
}

.itemListCategory h2 {
	margin-top: 0px;
}

.k2FeedIcon {
	float: right;
}

div.itemListCategory{
	border: 0px;
	background-color: white;
	margin: 0px;
	padding: 0px;
}

#k2AdminModal a {
	color: white;
}

#k2UserToolbarInnerContainer {
	padding: 4px;
}

#k2UserToolbar {
	color: white;
	width: 300px;
}

 .joomla-page-header .h1, .joomla-page-header .h2, .joomla-page-header .h3, .joomla-page-header h1, .joomla-page-header h2, .joomla-page-header h3, .itemTitle {
    margin-top: 0px;
}

div.catItemView div.catItemHeader h3.catItemTitle, div.itemHeader h2.itemTitle {
    font-family: Arial,Helvetica,sans-serif;
	padding: 0px 0px 0px 0px;
}

div.itemHeader h2.itemTitle {
	font-size: 21px;
}

div.catItemView.groupPrimary div.catItemHeader h3.catItemTitle {
    font-size: 18px;
}


q.joomla-page-header h2{
	margin-top: 0;
}

.socialmedia a img{
	width: 20px;
}

.item-image a img{
	max-width: 250px;
	vertical-align: top;
} 

.item-image{
	float:left;
}

.readmore {
	text-align:right;
}

.page-header {
	margin: 16px 0px 10px;
	padding-bottom: 2px;
}

.clearstyle{
	clear:both;
}

.catItemImageBlock{
	float:left;
}

.catItemView .catItemReadMore{
	float:right;
}

.readMore .catItemReadMore{
	float:right;
}

.catItemReadMore + .clr{
	clear:both;
}

.catItemView {
	border-bottom: solid;
	border-width: 1px;
	border-color: lightgray;
}

.itemListView .itemContainer {
	width: 100%;
}

.starttime h5{
	display: inline;
}

.thesesimage{
	float:right;
	max-width: 50%;
}

.itemImageBlock{
	float:left;
}


.thesesimage img{
	max-width: 100%;
	margin-top: 22px;
}

.thesestopic h2, .thesestopic div, .thesestopic {
	display: inline;
}

[class*="EditLink"] > a.modal, [class*="AddLink"] > a.modal , [class*="BlockActions"] a.modal {
	display: inline;
	position: static;
}

.joomla-side-menu {
	position: fixed;
	width: 150px;
	height: 400px;
	top: 0px;
	left: 0px;
}

.tabBufferForTUcal .tab-content .tab-pane{
	display: none;
}

.tabBufferForTUcal .tab-content .active{
	display: block;
}

.spacer{
	padding: 3px;
	
}

.fullwidth{
	width:100%;
}



/* Media Queris for small displays */
@media screen and (max-width: 500px) {
	
	.item-image, .item-image a img{
		width: 100%;
		max-width: 100%;
	} 
	
	.item-image a img{
		vertical-align: top;
	}
	
	.item-image a img{
		vertical-align: top;
	}
	
	.leading-0 p{
		clear: both;
		display: block;
	}
	

	
}