html {
	height: 100%;
	width: 100%;
}

body {
	font-size: 20px;
	width: 90%;
	max-width: 45rem;
	margin: 0 auto;
	padding-bottom: 5em;
}

* {
	font-size: 1rem;
	font-family: 'Computer Modern Serif', serif;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Computer Modern Sans', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 4rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
	margin-top: 1.5em;
	margin-bottom:.5em;
}

h3 {
	margin-top: 2em;
	font-size: 1.3rem;
}

h2 + h3 {
	margin-top: 1em;
}

h4, h5, h6 {
	font-size: 1.1rem;
	margin-bottom: .2em;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

a {
	color: #400000;
	text-decoration: none;
}

a:hover {
	color: #800000;
}

code {
	font-family: 'Computer Modern Typewriter'
}

pre {
	padding: 0 1em;
	margin: .3em 0;
}

blockquote p:before {
	content: "“"
}

blockquote p:after {
	content: "”"
}

td {
	vertical-align: top;
	padding: 0.3rem 1rem;
}

tr td:first-child {
	padding-left: 0;
}

tr td:last-child {
	padding-right: 0;
}

li {
	margin-top: .3em;
}

li p {
	margin: 0;
}

li blockquote {
	margin-top: .2rem;
	margin-bottom: .8rem;
}

img.small {
	height: 20rem;
}

.description {
	font-size: .8rem;
}

.title {
	margin: 0;
	font-size: 1rem;
	line-height: 1.1em;
}

.artefact {
	padding: 0 .7rem;
	display: block;
	margin-bottom: 1rem;
	color: black;
}

.artefact .file {
	float: left;
	font-size: 2rem;
	margin-right: 1rem;
}

.artefact * {
	display: block;
}