Association {
	fontName: "Source Code Pro";
}

Association > Label:targetRole,
Association > Label:sourceRole {
	maskLabel: visibility, derived, name, modifiers;
}

Association > Label:name {
	visible: false;
}

Class,
Interface,
Component,
Package {
	fontColor: #000;
	fontName: "Source Sans Pro";
	fontHeight: 16.0;
	bold: false;
	italic: false;
	underline: false;
	fillColor: #FFF;
	lineColor: #000;
	elementIcon: false;
	gradient: none;
}

Interface {
	fillColor: #EEE;
}

Component {
	elementIcon: true;
	displayTag: false;
}

Operation {
	fontColor: #000000;
	fontName: "Source Code Pro";
	fontHeight: 9;
	bold: false;
	italic: false;
	fillColor: #FFFFFF;
	gradient: none;
	lineColor: #000000;
	elementIcon: false;
	maskLabel: parametersType, parametersMultiplicity, parametersName, visibility, name, returnMultiplicity, returnType;
}

Port {
	fontColor: #000000;
	fontName: "Source Code Pro";
	fontHeight: 9;
	bold: false;
	italic: false;
	fillColor: #FFFFFF;
	gradient: none;
	lineColor: #000000;
}

Comment {
	fontColor: #000000;
	fontName: "Source Sans Pro";
	fontHeight: 10.0;
	bold: false;
	italic: false;
	gradient: none;
	lineColor: #000000;
	elementIcon: false;
}

.code {
	fontName: "Source Code Pro";
}