<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Beagle"
            id="de.uka.ipd.sdq.beagle.core.extensionpointtest.commands.categoryBeagle">
      </category>
      <command
            name="Available Measurment Tools"
            categoryId="de.uka.ipd.sdq.beagle.extensionpointprototype.commands.categoryBeagle"
            id="de.uka.ipd.sdq.beagle.core.extensionpointtest.commands.showMeasurmentTools">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.uka.ipd.sdq.beagle.core.extensionpointtest.commands.showMeasurmentTools"
            class="de.uka.ipd.sdq.beagle.core.extensionpointtest.ShowExtensionpointsHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.uka.ipd.sdq.beagle.core.extensionpointtest.commands.showMeasurmentTools"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Beagle"
               mnemonic="B"
               id="de.uka.ipd.sdq.beagle.core.extensionpointtest.menus.beagleMenu">
            <command
                  commandId="de.uka.ipd.sdq.beagle.core.extensionpointtest.commands.showMeasurmentTools"
                  id="de.uka.ipd.sdq.beagle.core.extensionpointtest.menus.showMeasurmentTools">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Hello_World_Command.toolbars.sampleToolbar">
            <command
                  commandId="de.uka.ipd.sdq.beagle.core.extensionpointtest.commands.showMeasurmentTools"
                  id="Hello_World_Command.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
