body {
	font-size: 20px;
	width: 100%;
	max-width: 50rem;
	margin: 0 auto;
}

* {
	font-size: 1rem;
	font-family: 'Computer Modern Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Computer Modern Sans', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

.description {
	font-size: .8rem;
}