<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.uka.ipd.sdq.beagle.core.proposedexpressionanalysermockup1"
         name="Proposed Expression Analyser Mockup1"
         point="de.uka.ipd.sdq.beagle.proposedexpressionanalyser">
         <ProposedExpressionAnalyserClass
            ProposedExpressionAnalyserClass="de.uka.ipd.sdq.beagle.core.extensionpoint.proposedexpressionanalysermockup1.ProposedExpressionAnalyserMockup1">
      </ProposedExpressionAnalyserClass>
   </extension>

</plugin>
